/* General Styles  */

body {
  background-color: black;
  color: white;
  font-family: 'Cutive Mono', monospace, sans-serif;
  font-size: 100%;
  padding: 1em;
}

section {
  margin: 2em;
}

h1 {
  font-size: 1.5em;
}

.button {
  cursor: pointer;
  font-size: 1.2em;
}

.content {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  align-items: flex-start;
}

.ghostBook {
  /* nothing right now */
}

/* Observation section  */

.observations {
  flex-grow: 0;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.observationList {
  margin: 0.2em;
  padding-left: 0;
}

.observationList li {
  list-style-type: none;
  padding: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.evidenceSelected {
  border: 1px solid white;
  background-color: white;
  color: black;
}

.evidenceNotSelected {
  border: 1px solid white;
  background-color: black;
  color: white;
}

.evidenceDisabled {
  border: 1px solid grey;
  background-color: black;
  color: grey;
  text-decoration: line-through;
}

.evidenceRuledOut {
  border: 1px solid white;
  background-color: grey;
  color: black;
  text-decoration: line-through;
}

.resetButton {
  display: inline-block;
  padding: 0.3em 1em 0.3em 1em;
  margin: 0;
  margin-left: auto;
  margin-top: 0.4em;
  border: 1px solid grey;
  background-color: grey;
  color: black;
}

/* Ghost section  */

.candidateList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
}

.ghost {
  width: 200px;
  font-size: 1em;
  margin-bottom: 2em;
}

.ghostName {
  font-size: 1.2em;
}

li.fakeEvidence {
  color: grey;
}

.detailsButton {
  text-decoration: underline;
  cursor: pointer;
  background-color: black;
  color: white;
  font-family: 'Cutive Mono', monospace, sans-serif;
  font-size: 100%;
  border: none;
}

div.ghostDetailsShown {
  font-size: 0.9em;
  padding-right: 1em;
}

div.ghostDetailsHidden {
  font-size: 0.9em;
  padding-right: 1em;
  display: none;
}

/* Media queries */

@media only screen and (max-width: 900px) {
  body {
    font-size: 1.1em;
  }
  section {
    margin: 0;
    margin-bottom: 1em;
  }

  .content {
    flex-direction: column;
    align-items: stretch;
  }

  .observations {
    max-width: 60%;
  }
}
