body {
    background-color: black;
    color: white;
    font-family:'Cutive Mono', monospace, sans-serif;
    padding: 1em;
}

.ghostBook {

}

.candidateList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
}

.observations {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 40%;
}

.observationList {
    margin: .2em;
    padding-left: 0;
}

.observationList li {
    list-style-type: none;
    padding: .3em;
    padding-left: 1em;
}

.ghost {
    width: 200px;
}

section {
    margin-top: 2em;
}

.evidenceSelected{
    border: 1px solid white;
    background-color: white;
    color :black;
}

.evidenceNotSelected {
    border: 1px solid white;
    background-color: black;
    color: white;
}

.evidenceDisabled{
    border: 1px solid grey;
    background-color: black;
    color: grey;
    text-decoration: line-through;
}

.resetButton {
    display: inline-block;
    align-self: right;
    padding: .3em 1em .3em 1em;
    margin: 0;
    margin-left: auto;
    margin-top: .4em;
    border: 1px solid grey;
    background-color: grey;
    color:black;
}

.button {
    cursor: pointer;
}