body {
    background-color: black;
    color: white;
    font-family:'Cutive Mono', monospace, sans-serif;
    padding: 1em;
}

.ghostBook {

}

.candidateList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.observationList {
    width: 40%;
}

.observationList li {
    list-style-type: none;
    padding: .3em;
    padding-left: 1em;
    margin: .2em;
}

.ghost {
    width: 200px;
}

section {
    margin-top: 2em;
}

.evidenceSelected{
    border: 1px solid white;
    background-color: white;
    color :black;
}

.evidenceNotSelected {
    border: 1px solid white;
    background-color: black;
    color: white;
}

.evidenceDisabled{
    border: 1px solid grey;
    background-color: black;
    color: grey;
    text-decoration: line-through;
}